@using Blazify.Shared.Models.Spotify

<a class="artist-history__item" href="@Artist.SpotifyUrl">
    <span class="order-number">@Artist.Position</span>
    <span class="artist__info">
        <ListItemCoverImage ImageUrl="@Artist.ImageUrl" />
        <span class="artist__summary">
            <span class="artist__name">@Artist.Name</span>
            <span class="artist__genres">
                @String.Join(",", Artist.Genres)
            </span>
        </span>
    </span>
</a>

@code {
    [Parameter]
    public Artist Artist { get; set; }
}
